<div style="width: 500px; margin: auto;">
  <form action="/action_page.php" class="was-validated">
    <div class="mb-3 mt-3">
      <label for="Title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter Title" name="Title" required>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="Descriptio" class="form-label">Descriptio:</label>
      <input type="text" class="form-control" id="Descriptio" placeholder="Enter Descriptio" name="Descriptio" required>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="file" class="form-control" id="file" placeholder="Please select image" name="file" required>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-primary">confirm</button>
  </form>
</div>
