
<section class="bg-dark text-center text-lg-start text-white">
<div class="py-5 container" >
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 p-3" style="margin: auto;">
      <h5 class="text-uppercase mb-4">Contact</h5>

      <div class="">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required="">
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required="" placeholder="type here">
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required="" placeholder="type here">
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="7" required="" placeholder="type what you need"></textarea>
            </div>
            <input type="submit" class="btn btn-danger mt-3" value="Send Message">

          </form>
        </div>
    </div>

  </div>

</div>

</section>


